body{
    background-color: linear-gradient(to right,#6a11cb,#2575fc);
    font-family: 'popins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background: black;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    text-align: center;
    padding: 50px;
    width: 500px;
}
.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #2575fc;
}
h1{
    color: skyblue;
    margin-top: 15px;
}
.desc{
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}
#quote{
    font-style: italic;
    color: white;
    margin-bottom: 20px;
}
#btn{
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 30px,40px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
#btn:hover{
    background-color: #6a11cb;
}